<div class="register-container">
  <h1>Register</h1>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <label for="username">Username</label>
    <input
      type="text"
      id="username"
      name="username"
      formControlName="username"
      required
    />

    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      formControlName="password"
      required
    />

    <label for="confirmPassword">Confirm Password</label>
    <input
      type="password"
      id="confirmPassword"
      name="confirmPassword"
      formControlName="confirmPassword"
      required
    />

    <button type="submit" [disabled]="!registerForm.valid">Register</button>
    <button class="cancel" type="button" [routerLink]="['/login']">
      Cancel
    </button>
  </form>
  <div class="error" *ngIf="error">{{ error }}</div>
</div>
