<div class="login-container">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <label for="username">Username</label>
    <input
      type="text"
      id="username"
      placeholder="username"
      formControlName="username"
      required
    />
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      placeholder="password"
      formControlName="password"
      required
    />
    <button type="submit" [disabled]="!loginForm.valid">Log In</button>
    <button class="register" type="button" [routerLink]="'/register'">
      Register
    </button>
  </form>
  <pre class="error" *ngIf="error">{{ error }}</pre>
</div>

<router-outlet></router-outlet>
