/* You can add global styles to this file, and also import other style files */

@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-quartz.css";

* {
  font-family: Arial, sans-serif;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:disabled, button:disabled:hover {
  background-color: rgb(207, 207, 207);
  cursor: not-allowed;
  color: black;
}

button:hover {
  background-color: #ff6000;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

.error {
  background-color: #ffdddd;
  padding: 10px;
  border-left: 3px solid #ff5555;
  margin-top: 20px;
}

.success {
  background-color: #deffea;
  padding: 10px;
  border-left: 3px solid #0b6f00;
  margin-top: 20px;
}

textarea {
  font-size: large;
}

.required:after {
  content: " *";
  color: red;
}
