.register-container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.register-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.register-container button[type="button"] {
  background-color: #6c757d;
  color: white;
}

.register-container button[type="button"]:hover {
  background-color: #5a6268;
}
