.register-container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.register-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cancel {
  background-color: #6c757d;
  color: white;
}

.cancel:hover {
  background-color: #5a6268;
}
