<div class="register-container">
  <h1>Register</h1>
  <form (ngSubmit)="register()">
    <label for="username">Username</label>
    <input
      type="text"
      id="username"
      [(ngModel)]="this.username"
      name="username"
      required
    />

    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      [(ngModel)]="this.password"
      name="password"
      required
      minlength="3"
    />

    <label for="confirmPassword">Confirm Password</label>
    <input
      type="password"
      id="confirmPassword"
      [(ngModel)]="this.confirmPassword"
      name="confirmPassword"
      required
      minlength="3"
    />

    <button type="submit">Register</button>
    <button type="button" [routerLink]="['/login']">Cancel</button>
  </form>
  <div class="error" *ngIf="error">{{ error }}</div>
</div>
