h1 {
  margin: 0 auto;
  padding: 20px;
}

.flat-files-container {
  display: flex;
  align-items: start;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  margin: 0 auto;
  padding: 20px;
}

.flat-files-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 300px;
  max-height: 600px;
  overflow-y: auto;
}

.flat-files-container li {
  margin-bottom: 10px;
}

.flat-files-container textarea {
  flex-grow: 1;
  resize: vertical;
}
